.page-eventos {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-page {
  max-width: 1366px;
  margin-inline: 10px;
  width: 100%;
  display: flex;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.image-logo-eventos {
  width: 250px;
  max-width: 30%;
  height: auto;
}
.header {
  padding-block: 10px;
  border-bottom: 2px solid #434142;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-weight: bold;
  margin-right: 7px;
  color: #72aaf0;
}
.header a,
.header .btn-eventos {
  text-decoration: none;
  background-color: #719cd2;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.header a:hover,
.header .btn-eventos:hover {
  background-color: #72aaf0;
}

.header .btn-eventos {
  margin-right: 15px;
}

.main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  border: 2px solid #72aaf0;
}

@media (max-width: 1199px) {
  .main-content {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 768px) {
  .image-logo-eventos {
    width: 100px;
    max-width: 40%;
  }
}

@media (max-width: 480px) {
  .image-logo-eventos {
    max-width: 80%;
  }
}
