.page-home{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-page{
    max-width: 1366px;
    margin-inline: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header{
    padding-block: 40px;
    background-color: ;
}