.title-text {
  font-size: 36px;
  color: #719cd2;
  margin-bottom: 30px;
}

.sem-eventos{
  font-size: 24px;
  background-color: transparent;
  color: #434142;
}

.evento-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.eventos-content{
  width: 650px;
 }

.evento-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.info-text p,
.info-text h3 {
  color: #434142;
}

.info-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #ffc107;
  color: black;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.cancel-btn {
  background: #ccc;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
